.DS_Store
cmd/*/tmp/
bin/
config/tool.conf
config/api.conf
config/merchant.conf
config/push.pem
config/*.pem
config/*.production.conf
config/*.staging.conf
config/*.pem
tools/*/data
.idea/
dump.rdb
scratch/*

ca-Certificates.crt

*~
\#*\#
.\#*

*.test
*.sw?
.tags

*.json
tmp/

ENV/

dump.rdb
