environment     = "development"
bind            = "localhost:5331"

[db]
database          = "localyyz"
hosts             = [ "localhost" ]
username          = "localyyz"
password          = ""
debug_queries     = true
application_name  = "api"

[jwt]
secret            = "secret"

[pusher]
topic             = "org.moodie.toronto"

[connect.facebook]
app_id            = ""
app_secret        = ""

[connect.shopify]
app_id            = ""
app_secret        = ""
oauth_callback    = "http://localhost:5331/oauth/shopify/callback"
webhook_url       = "http://localhost:5331/webhooks/shopify"

[connect.stripe]
app_secret        = ""
