environment     = "development"
bind            = "localhost:5331"

[db]
database          = "localyyz"
hosts             = [ "localhost" ]
username          = "localyyz"
password          = ""
debug_queries     = true
application_name  = "api"

[jwt]
secret            = "secret"

[pusher]
topic             = "org.moodie.toronto"

[connect.facebook]
app_id            = "1610675759250907"
app_secret        = "47f2c12ab33da224c503173a126e7205"

[connect.shopify]
app_id            = ""
app_secret        = ""
oauth_callback    = "http://localhost:5331/oauth/shopify/callback"
webhook_url       = "http://localhost:5331/webhooks/shopify"
