environment     = "development"
bind            = "localhost:5331"

[db]
database          = "moodie"
hosts             = [ "localhost" ]
username          = "postgres"
password          = ""

[map]
api_key           = "AIzaSyD7h7j2sqtu4ty-Poory0AvzVl1sWTjiB4"

[jwt]
secret            = "secret"

[connect.facebook]
app_id            = "1610675759250907"
app_secret        = "47f2c12ab33da224c503173a126e7205"
