environment     = "development"
bind            = "0.0.0.0:5341"

[db]
database          = "localyyz"
hosts             = [ "localhost" ]
username          = "localyyz"
password          = ""
debug_queries     = true
application_name  = "scheduler"

[connect.onesignal]
app_id            = "e6079043-71d2-4180-84d4-eaef47683cf1"
app_secret        = "OTI1NGNkN2QtNzYzYy00NmM2LThlYTktNTFiOTlhZTE2MTJi"
