<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Localyyz Merchant</title>
  <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/latest/polaris.css" />
</head>
<body>
  <div class="Polaris-Page">
    <div class="Polaris-Page__Header">
      {% if (place.Status == 2) %}
      <div class="Polaris-Banner Polaris-Banner--statusSuccess" tabindex="0" role="status" aria-live="polite" aria-describedby="Banner5Content" aria-labelledby="Banner5Heading">
        <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorGreenDark Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><g fill-rule="evenodd"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m2.293-10.707L9 10.586 7.707 9.293a1 1 0 1 0-1.414 1.414l2 2a.997.997 0 0 0 1.414 0l4-4a1 1 0 1 0-1.414-1.414"></path></g></svg></span></div>
        <div>
          <div class="Polaris-Banner__Heading" id="Banner5Heading">
            <p class="Polaris-Heading">Thank you!</p>
          </div>
          <div class="Polaris-Banner__Content" id="Banner5Content">
            <p>Your store has been submitted for review.
            You can check the status here, or message us for more info.</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="Polaris-Page__Content">
      <div class="Polaris-Layout">
        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Account</h2>
                <p>Submit your store for approval.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-SettingAction">
                    <div class="Polaris-SettingAction__Setting">
                      <div class="Polaris-Stack">
                        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                          <div class="Polaris-AccountConnection__Content">
                            <div>
                              <span class="Polaris-TextStyle--variationSubdued">Status is currently:
                                {% if (place.Status == 0) %}
                                  <span class="Polaris-Badge">Unknown</span>
                                {% elif (place.Status == 1) %}
                                  <span class="Polaris-Badge Polaris-Badge--statusAttention">
                                    Accept Agreement
                                  </span>
                                {% elif (place.Status == 2) %}
                                  <span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete">
                                    <span class="Polaris-Badge__Pip"></span>
                                    Waiting for Approval
                                  </span>
                                {% elif (place.Status == 3) %}
                                  <span class="Polaris-Badge Polaris-Badge--statusSuccess">
                                    Approved
                                  </span>
                                {% elif (place.Status == 4) %}
                                  <span class="Polaris-Badge Polaris-Badge--statusWarning">
                                    Inactive
                                  </span>
                                {% endif %}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Polaris-SettingAction__Action">
                      <form id="tos" method="POST" action="#">
                        <button type="submit" class="Polaris-Button Polaris-Button--primary {%if (place.Status != 1) %}Polaris-Button--disabled{% endif %}">
                          <span class="Polaris-Button__Content">
                            <span>Accept</span>
                          </span>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="Polaris-AccountConnection__TermsOfService">
                    <p>
                      {% if (place.Status == 0 or place.Status == 4) %}
                        Please <a href="mailto:support@localyyz.com?subject={{name}}: {{status}} status help">contact Localyyz Support for help.</a>
                      {% elif (place.Status == 1) %}
                        By clicking Accept, you are accepting Localyyz’s <a class="Polaris-Link" href="#" data-polaris-unstyled="true">Terms and Conditions</a>,
                          and <a class="Polaris-Link" href="#" data-polaris-unstyled="true">Services Subscription</a>.
                      {% elif (place.Status == 2) %}
                        Estimated date of approval: <span class="Polaris-Badge Polaris-Badge--statusInfo"> {{ approvalTs|naturaltime }}</span>
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Polaris-Layout__Section">
          <div class="Polaris-FooterHelp">
            <div class="Polaris-FooterHelp__Content">
              <div class="Polaris-FooterHelp__Icon">
                <span class="Polaris-Icon Polaris-Icon--colorTeal Polaris-Icon--hasBackdrop">
                <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                  <g fill-rule="evenodd">
                    <path d="M6 4.038a2 2 0 1 0-3.999-.001A2 2 0 0 0 6 4.038zm2 0c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4zM18 4a2 2 0 1 0-3.999-.001A2 2 0 0 0 18 4zm2 0c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4zm-2 12a2 2 0 1 0-3.999-.001A2 2 0 0 0 18 16zm2 0c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4zm-14 .038a2 2 0 1 0-3.999-.001A2 2 0 0 0 6 16.038zm2 0c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4z" fill-rule="nonzero"></path>
                    <path d="M18 10.038a8 8 0 1 1-16 0 8 8 0 0 1 16 0zM10 14c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z" fill="currentColor"></path>
                    <path d="M17 10.038a7 7 0 1 0-14 0 7 7 0 0 0 14 0zm2 0a9 9 0 1 1-18.001-.001A9 9 0 0 1 19 10.038z" fill-rule="nonzero"></path>
                    <path d="M13 10.038a3 3 0 1 0-6 0 3 3 0 0 0 6 0zm2 0c0 2.76-2.24 5-5 5s-5-2.24-5-5 2.24-5 5-5 5 2.24 5 5z" fill-rule="nonzero"></path>
                    <path d="M13.707 7.707l2-2a1 1 0 0 0-1.414-1.414l-2 2a1 1 0 0 0 1.414 1.414zm-1.414 6l2 2a1 1 0 0 0 1.414-1.414l-2-2a1 1 0 0 0-1.414 1.414zM7.707 6.33l-2-2a1 1 0 0 0-1.414 1.415l2 2a1 1 0 0 0 1.414-1.414zm-1.414 6l-2 2a1 1 0 0 0 1.414 1.415l2-2a1 1 0 0 0-1.414-1.414z" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </span>
              </div>
              <div class="Polaris-FooterHelp__Text">
                For more details on Localyyz, visit our <a class="Polaris-Link" href="https://localyyz.com" data-polaris-unstyled="true">Faqs page</a>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    "use strict"
    $(document).ready(function() {
      $("#tos").submit(function(e) {
        $.ajax({
          type: "POST",
          contentType: "application/json",
          dataType: "json",
          url: "/tos",
          success: function(result) {
            location.reload();
          }
        });
        return false;
      })
    });
  </script>
</body>
</html>
