<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Localyyz Merchant</title>
  <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/2.0.0-beta.18/polaris.min.css" />
  <style>
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 150px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        margin:0.5rem 1.6rem 1.6rem;
    
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    thead th p {
      text-align: center;
    }
  </style>

</head>
<body>
  <div class="Polaris-Page">
    <div class="Polaris-Page__Header">
      {% if (place.Status == 2) %}
      <div class="Polaris-Banner Polaris-Banner--statusSuccess" tabindex="0" role="status" aria-live="polite" aria-describedby="Banner5Content" aria-labelledby="Banner5Heading">
        <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorGreenDark Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><g fill-rule="evenodd"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m2.293-10.707L9 10.586 7.707 9.293a1 1 0 1 0-1.414 1.414l2 2a.997.997 0 0 0 1.414 0l4-4a1 1 0 1 0-1.414-1.414"></path></g></svg></span></div>
        <div>
          <div class="Polaris-Banner__Heading" id="Banner5Heading">
            <p class="Polaris-Heading">Thank you!</p>
          </div>
          <div class="Polaris-Banner__Content" id="Banner5Content">
            <p>Your store has been submitted for review.
            You can check the status here, or message us for more info.</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="Polaris-Page__Content">

      <div class="Polaris-Layout">
        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Account</h2>
                <p>Submit your store for approval.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-SettingAction">
                    <div class="Polaris-SettingAction__Setting">
                      <div class="Polaris-Stack">
                        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                          <div class="Polaris-AccountConnection__Content">
                            <div>
                              <span class="Polaris-TextStyle--variationSubdued">Status is currently:
                                {% if (place.Status == 0) %}
                                <span class="Polaris-Badge">Unknown</span>
                                {% elif (place.Status == 1) %}
                                <span class="Polaris-Badge Polaris-Badge--statusAttention">
                                  Accept Agreement
                                </span>
                                {% elif (place.Status == 2) %}
                                <span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete">
                                  <span class="Polaris-Badge__Pip"></span>
                                  Waiting for Approval
                                </span>
                                {% elif (place.Status == 3) %}
                                <span class="Polaris-Badge Polaris-Badge--statusSuccess">
                                  Approved
                                </span>
                                {% elif (place.Status == 4) %}
                                <span class="Polaris-Badge Polaris-Badge--statusWarning">
                                  Not Approved
                                </span>
                                {% elif (place.Status == 5) %}
                                <span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete">
                                  In Review
                                </span>
                                {% endif %}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Polaris-SettingAction__Action">
                      <form id="tos" method="POST" action="#">
                        <button type="submit" class="Polaris-Button Polaris-Button--primary {%if (place.Status != 1) %}Polaris-Button--disabled{% endif %}">
                          <span class="Polaris-Button__Content">
                            <span>Accept</span>
                          </span>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="Polaris-AccountConnection__TermsOfService">
                    <p>
                    {% if (place.Status == 0 or place.Status == 4) %}
                    Sorry! Looks like your store was "Not Approved".
                    Please <a href="mailto:support@localyyz.com?subject={{name}}: {{status}} status help" target="_blank">contact Localyyz Support for help.</a>
                    {% elif (place.Status == 1) %}
                    By clicking Accept, you are accepting Localyyz’s <a class="Polaris-Link" target="_blank" href="https://business.localyyz.com/terms-and-conditions-businesses.html" data-polaris-unstyled="true">Terms and Conditions</a>,
                    and <a class="Polaris-Link" target="_blank" href="https://business.localyyz.com/services-subscription-agreement.html" data-polaris-unstyled="true">Services Subscription</a>.
                    {% elif (place.Status == 2) %}
                    Estimated date of approval: <span class="Polaris-Badge Polaris-Badge--statusInfo">Next 2 business days.</span>
                    {% if(approvalWait > 10) %}
                    <div class="Polaris-Banner__Content" id="Banner5Content">
                      <p>(We're experiencing an unusual high amount of applications, your approval process may take a bit longer! Please contact us if you have any questions. Thank you for your patience.)</p>
                      <p> - Localyyz Team
                    </div>
                    {% endif %}
                    {% endif %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
        {% if (place.PlanEnabled && place.Status == 3) %}
          {% if (plan == nil) %}
            {% if (!isMobile) %}
            <div class="Polaris-Card" style="width: 100%;">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Subscription Plans:</h2>
              </div>

              <div class="Polaris-DataTable Polaris-DataTable--hasFooter">
                <div class="Polaris-DataTable__ScrollContainer">
                  <table class="Polaris-DataTable__TableWrapper">
                    <thead>
                      <tr>
                        <th aria-disabled="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--header" scope="col" style="height: 129px;"></th>
                        <th aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational Polaris-DataTable__Cell--header" role="presentation"></th>
                        <th aria-disabled="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 53px;"></th>
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                          <p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Standard</p>
                          <p class="Polaris-DisplayText Polaris-DisplayText--sizeExtraLarge">$0</p>
                          <p>USD/month</p>
                        </th>
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                          <p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Essentials</p>
                          <p class="Polaris-DisplayText Polaris-DisplayText--sizeExtraLarge">$40</p>
                          <p>USD/month*</p>
                        </th>
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                          <p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Priority</p>
                          <p class="Polaris-DisplayText Polaris-DisplayText--sizeExtraLarge">$90</p>
                          <p>USD/month*</p>
                        </th>
                      </tr>
                      <tr>
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell Polaris-DataTable__Cell" scope="row" style="height: 120px;"></th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">
                          <button type="button" class="Polaris-Button Polaris-Button--primary" id="plan-standard">
                            <span class="Polaris-Button__Content">
                              <span>Select Standard</span>
                            </span>
                          </button>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">
                          <button type="button" class="Polaris-Button Polaris-Button--primary" id="plan-essential">
                            <span class="Polaris-Button__Content">
                              <span>Select Essential</span>
                            </span>
                          </button>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">
                          <button type="button" class="Polaris-Button Polaris-Button--primary" id="plan-priority">
                            <span class="Polaris-Button__Content">
                              <span>Select Priority</span>
                            </span>
                          </button>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 72px; width: 20em;">
                          <div class="tooltip">
                            <p class="Polaris-TextStyle--variationStrong">SKU limit</p>
                            <span class="tooltiptext">total skus published at one time</span>
                          </div>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 72px;">Unlimited</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 72px;">Unlimited</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 72px;">Unlimited</td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 72px; width: 20em;">
                          <p class="Polaris-TextStyle--variationStrong">Transaction fee</p>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">1.5%</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">0%</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">0%</td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 82px; width: 20em;">
                          <div class="tooltip">
                            <p class="Polaris-TextStyle--variationStrong">Commission** on fulfilled orders</p>
                            <span class="tooltiptext">commission taken from order subtotal</span>
                          </div>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 82px;">9.5%</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 82px;">5.5%</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 82px;">1.5%</td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 72px; width: 20em;">
                          <p class="Polaris-TextStyle--variationStrong">Technical support</p>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                          <span class="Polaris-Badge Polaris-Badge--statusAttention Polaris-Badge--progressPartiallyComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Partially complete</span></span>Partial</span>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                          <span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Complete</span></span>Full</span>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                          <span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Complete</span></span>Full</span>
                        </td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 72px; width: 20em;">
                          <p class="Polaris-TextStyle--variationStrong">Priority listing of products</p>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">-</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">-</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                          <span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Complete</span></span>Full</span>
                        </td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 72px; width: 20em;">
                          <p class="Polaris-TextStyle--variationStrong">Insights and analytics</p>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">-</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">-</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                          <span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Complete</span></span>Full</span>
                        </td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 120px; width: 20em;">
                          <p class="Polaris-TextStyle--variationStrong">Marketing campaigns + use of design team</p>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">-</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">
                          <span class="Polaris-Badge Polaris-Badge--statusAttention Polaris-Badge--progressPartiallyComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Partially complete</span></span>Partial</span>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">
                          <span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Complete</span></span>Full</span>
                        </td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="width: 20em;">
                          <p class="Polaris-TextStyle--variationStrong">Managed push notification campaigns</p>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">-</td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                          <span class="Polaris-Badge Polaris-Badge--statusAttention Polaris-Badge--progressPartiallyComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Partially complete</span></span>Partial</span>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                          <span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Complete</span></span>Full</span>
                        </td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 140px; width: 20em;">
                          <p class="Polaris-TextStyle--variationStrong">Performance marketing campaign management</p>
                          <span class="Polaris-TextStyle--variationSubdued">($5k/month*** in value)</span>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 140px;">
                          <div class="tooltip">$
                            <span class="tooltiptext">Additional costs</span>
                          </div>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 140px;">
                          <span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Complete</span></span>Full</span>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 140px;">
                          <span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-VisuallyHidden">Success</span><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden">Complete</span></span>Full</span>
                        </td>
                      </tr>
                      <tr class="Polaris-DataTable__TableRow">
                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 120px; width: 20em;">
                          <p class="Polaris-TextStyle--variationStrong">Performance marketing ad spend</p>
                        </th>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td aria-hidden="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational" role="presentation"></td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">
                          <div class="tooltip">$
                            <span class="tooltiptext">Additional costs</span>
                          </div>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">
                          <div class="tooltip">$
                            <span class="tooltiptext">Additional costs</span>
                          </div>
                        </td>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text" style="height: 120px;">
                          <div class="tooltip">$
                            <span class="tooltiptext">Additional costs</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--footer" style="text-align:justify;">
                          <span class="Polaris-TextStyle--variationSubdued">*All subscriptions require an annual contract paid upfront</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span class="Polaris-TextStyle--variationSubdued">**Introductory offer</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span class="Polaris-TextStyle--variationSubdued">***Standard performance marketing agency fee</span>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            {% else %}
              <div class="Polaris-Layout__Annotation">
                <div class="Polaris-TextContainer">
                  <h2 class="Polaris-Heading">Subscription</h2>
                </div>
              </div>
              <div class="Polaris-Layout__AnnotationContent">
                <div class="Polaris-Card">
                  <div class="Polaris-Card__Section">
                    <p> Please Use the desktop dashboard to select a subscription plan.</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% else %}
          <div class="Polaris-Layout__Annotation">
            <div class="Polaris-TextContainer">
              <h2 class="Polaris-Heading">Subscription</h2>
              <p>Subscription status and summary</p>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotationContent">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                  <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                    <h2 class="Polaris-Heading"></h2>
                  </div>
                </div>
              </div>
              <div class="Polaris-Card__Section">
                <p> You are currently on the <b>{{ plan.Type }}</b> plan. </p>
              </div>
              <div class="Polaris-Card__Section">
                The current subscription status is: {{ plan.Status }}.
              </div>
              <div class="Polaris-Card__Section">
                The subscription was started on {{ plan.StartedOn }}.
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
          </div>
        </div>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Products</h2>
                <p>Product status summary</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Header">
                  <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                      <h2 class="Polaris-Heading">Status Overview</h2>
                    </div>
                    <div class="Polaris-Stack__Item">
                      <div class="Polaris-ButtonGroup">
                        <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                          <button type="button" onClick="ShopifyApp.redirect('/products?query=&published_status=localyyz%3Avisible')" class="Polaris-Button Polaris-Button--plain" >
                            <span class="Polaris-Button__Content"><span>Manage</span></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Polaris-Card__Section">
                  <p> You have published <b>{{ productCount }}</b> product(s) to Localyyz.  </p>
                </div>
                <div class="Polaris-Card__Section">
                  There are currently 0 product(s) in the queue.
                </div>
                <div class="Polaris-Card__Section">
                  There are currently 0 errors.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">iOS / Android App</h2>
                <p>Download Localyyz</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <a href="https://itunes.apple.com/us/app/localyyz/id1185735010" target="_blank">iOS Store</a>
                </div>
                <div class="Polaris-Card__Section">
                  <a href="https://play.google.com/store/apps/details?id=com.localyyz" target="_blank">Google Play</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Polaris-Layout__Section">
          <div class="Polaris-FooterHelp">
            <div class="Polaris-FooterHelp__Content">
              <div class="Polaris-FooterHelp__Icon">
                <span class="Polaris-Icon Polaris-Icon--colorTeal Polaris-Icon--hasBackdrop">
                <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                  <g fill-rule="evenodd">
                    <path d="M6 4.038a2 2 0 1 0-3.999-.001A2 2 0 0 0 6 4.038zm2 0c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4zM18 4a2 2 0 1 0-3.999-.001A2 2 0 0 0 18 4zm2 0c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4zm-2 12a2 2 0 1 0-3.999-.001A2 2 0 0 0 18 16zm2 0c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4zm-14 .038a2 2 0 1 0-3.999-.001A2 2 0 0 0 6 16.038zm2 0c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4z" fill-rule="nonzero"></path>
                    <path d="M18 10.038a8 8 0 1 1-16 0 8 8 0 0 1 16 0zM10 14c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z" fill="currentColor"></path>
                    <path d="M17 10.038a7 7 0 1 0-14 0 7 7 0 0 0 14 0zm2 0a9 9 0 1 1-18.001-.001A9 9 0 0 1 19 10.038z" fill-rule="nonzero"></path>
                    <path d="M13 10.038a3 3 0 1 0-6 0 3 3 0 0 0 6 0zm2 0c0 2.76-2.24 5-5 5s-5-2.24-5-5 2.24-5 5-5 5 2.24 5 5z" fill-rule="nonzero"></path>
                    <path d="M13.707 7.707l2-2a1 1 0 0 0-1.414-1.414l-2 2a1 1 0 0 0 1.414 1.414zm-1.414 6l2 2a1 1 0 0 0 1.414-1.414l-2-2a1 1 0 0 0-1.414 1.414zM7.707 6.33l-2-2a1 1 0 0 0-1.414 1.415l2 2a1 1 0 0 0 1.414-1.414zm-1.414 6l-2 2a1 1 0 0 0 1.414 1.415l2-2a1 1 0 0 0-1.414-1.414z" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </span>
              </div>
              <div class="Polaris-FooterHelp__Text">
                For more details on Localyyz, visit our <a class="Polaris-Link" href="https://localyyz.com" data-polaris-unstyled="true">Faqs page</a>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: '{{clientID}}',
      shopOrigin: 'https://{{place.ShopifyID}}.myshopify.com',
      debug: true,
    });

    ShopifyApp.ready(function() {
      ShopifyApp.Bar.loadingOff();
    })

    // check if need to be redirected?
    if ("{{shouldRedirect}}" === "1") {
      ShopifyApp.redirect("{{confirmationUrl}}")
    }
  </script>
  <script type="text/javascript">
    "use strict"
    $(document).ready(function() {
      {% if (place.PlanEnabled == place.Status == 3) %}
      $("button#plan-standard").click(function() {
        $.ajax({
          type: "POST",
          url: "/plan",
          data: JSON.stringify({"planType": "standard"}),
          beforeSend: function() {
            ShopifyApp.flashNotice("subscribing to standard plan...");
          },
          success: function(result) {
            location.reload();
          }
        });
        return false;
      });
      $("button#plan-essential").click(function() {
        $.ajax({
          type: "POST",
          url: "/plan",
          data: JSON.stringify({"planType": "essential"}),
          beforeSend: function() {
            ShopifyApp.flashNotice("subscribing to essential plan...");
          },
          success: function(result) {
            location.reload();
          }
        });
        return false;
      });
      $("button#plan-priority").click(function() {
        $.ajax({
          type: "POST",
          url: "/plan",
          data: JSON.stringify({"planType": "priority"}),
          beforeSend: function() {
            ShopifyApp.flashNotice("subscribing to priority plan...");
          },
          success: function(result) {
            location.reload();
          }
        });
        return false;
      });
      {% endif %}

      $("#tos").submit(function(e) {
        $.ajax({
          type: "POST",
          contentType: "application/json",
          dataType: "json",
          url: "/tos",
          success: function(result) {
            location.reload();
          }
        });
        return false;
      });
    });
  </script>
</body>
</html>
